.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}

.header-footer {
    background-color: darkorange;
    width: 100%;
    text-align: right;
    padding: 20px 0;
    height: 3%;
}

.navigation-bar {}

.nav-button {
    width: 20%;
    border: 1px solid white;
    display: inline;
    padding: 10px;
    /*    margin: 2px;*/
    vertical-align: -webkit-baseline-middle;
}

h3 {
    margin: 0;
}

.intro {
    height: 35%;
    background-color: cadetblue;
    width: 100%;
}

.intro h1 {
    margin-top: 0;
}

.main-content {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0;
}

.main-content.normal {
    height: 90%;
}

.main-content.home {
    height: 55%;
}

.feature33 {
    width: 30%;
    height: 90%;
    background-color: white;
    padding: 10px 0;
    display: inline-block;
    margin-left: 2.3%;
    margin-top: 10px;
}

.feature50 {
    width: 45%;
    background-color: white;
    padding: 10px;
    display: inline-table;
    margin-left: 2%;
}

.locInfo {
    margin-top: -40px;
    vertical-align: text-top;
}

.map {
    width: 60%;
    margin: 0 10px;
    height: 80%;
}

.feature90 {
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 10px 0;
    /* display: inline-block; */
    margin: 0 auto;
}

.feature90 p {
    padding: 30px;
}

.feature90 h2 {
    padding: 25px 25px 0 25px;
}

.no-padding {
    padding: 0 !important;
    display: inline;
    vertical-align: text-top;
}

.align-center {
    text-align: center;
}

.specialsBox {
    border: 1px solid red;
    width: 30%;
}

.galleryBox {
    width: 25%;
}

#slideshow {
    margin: 0 auto;
    position: relative;
    width: 990px;
    height: 90%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideShowImages {
    width: 990px;
    height: 100%;
}

.order-form {
    width: 90%;
    padding: 20px;
}

.order-page-pic {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 90%;
}

.order-page-input {
    width: 100%;
    margin-bottom: 15px;
}
.home-feature-image {
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}

.credit-card {
    width: 90px;
    height: 40px;
    background-color: coral;
    padding: 10px;
    margin: 0 2px;
}

.credit-card-options {
    display: flex;
}

.social-media {
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: cadetblue;
}
